

<style type="text/css">
  /*RESET  -- this may be ignored by some email clients*/
    body{
        margin:0;
        padding:0;
    }

    img{
        border:0 none;
        height:auto;
        line-height:100%;
        outline:none;
        text-decoration:none;
    }

    a img{
        border:0 none;
    }

    .imageFix{
        display:block;
    }

    table, td{
        border-collapse:collapse;
    }

    #bodyTable{
        height:100% !important;
        margin:0;
        padding:0;
        width:100% !important;
    }
  /*END RESET*/
</style>



<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
    <tr>
        <td align="center" valign="top">
            <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailContainer">
              
              
              
              
                  <tr>
                    <td align="center" valign="top" style="padding:0;">
                      
                      
                        <!--PREHEADER-->
                        <table border="0" cellpadding="10" cellspacing="0" width="600" id="emailPreheader" style="background:#ffffff; margin:0;">
                            <tr>
                                <td align="left" valign="top" style="font-family:Arial, sans-serif; font-size:12px;">
                                    Here's the Preheader Text!
                                </td>
                              
                                <td align="right" valign="top" style="color:#000000; text-decoration:none; font-family:Arial, sans-serif; font-size:12px;">
                                    Unable to view this message? <a href="#">Click here!</a>
                                </td>
                            </tr>
                        </table>
                      
                                       
                      </td>
                  </tr>
              
              
              
              
              
                  <tr>
                    <td align="center" valign="top" style="padding:0;">
                      
                      
                        <!--HEADER BLACK BAR WITH LOGO-->
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="emailHeader" style="background:#666666; color:#ffffff; margin:0;">
                          <tr>
                            <td align="center">

                              <table border="0" cellpadding="0" cellspacing="0" width="600">
                                  <tr>
                                      <td align="left" valign="middle">
                                        <a href="#"><img src="http://placehold.it/160x80" alt="" style="padding:10px 0 5px;" /></a>
                                      </td>
                                  </tr>
                              </table>
                            
                            </td>
                          </tr>
                        </table>
                      
                      
                      
                      
                      
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="emailBody">
                            <tr>
                                <td align="center" valign="top">
                                  
                                  
                                  <!--MAIN BANNER IMAGE-->
                                  <table border="0" cellpadding="0" cellspacing="0" width="600" style="background-color:#FFFFFF; margin-bottom:10px;">
                                    <tr>
                                      <td>
                                        <img src="http://placehold.it/600x224" alt="" />
                                      </td>
                                    </tr>
                                  </table>

                                  <!--MAIN CONTENT COPY-->
                                  <table border="0" cellpadding="0" cellspacing="0" width="600" style="text-align:center; background-color:#FFFFFF; margin-bottom:20px;">
                                    <tr>
                                      <td>
                                        <h1 style="margin:0; font-family:Arial, sans-serif; color:#606060; letter-spacing:-1px; font-size:40px; font-weight:bold;">Here's an Email for You.</h1>

                                        <p style="margin:0; font-family:Arial, sans-serif; color:#606060; line-height:150%; font-size:16px;">This is a to-standards email template for you to rework, brand, and spruce up to your heart's delight. The header and footer respond to and fill in the full width of the viewport, while their contents remain centered. Included are several of the usual blocks that appear in a typical marketing email. Simply use the blocks you need and delete the rest. Happy emailing!</p>
                                      </td>
                                    </tr>
                                  </table>
                                  
                                  
                                                                 
                                  <!--MAIN CALL TO ACTION BUTTON-->
                                  <table border="0" cellpadding="0" cellspacing="0" style="background-color:#000000; margin-bottom:20px;">
                                    <tr>
                                        <td align="center" valign="middle" style="color:#FFFFFF; font-family:Helvetica, Arial, sans-serif; font-size:16px; font-weight:bold; letter-spacing:-.5px; line-height:150%; padding-top:15px; padding-right:30px; padding-bottom:15px; padding-left:30px;">
                                            <a href="#" target="_blank" style="color:#FFFFFF; text-decoration:none;">HERE'S A BUTTON TO CLICK</a>
                                        </td>
                                    </tr>
                                </table>
                                  
                           
                                  
                                <!--TEXT BOX-->
                                <table border="0" cellpadding="0" cellspacing="0" width="600">
                                  <tr>
                                    <td>
                                      <p style="text-align:center; background-color:#e8e8e8; border:1px solid #999999; margin-bottom:20px; font-size:12px; padding:20px; font-family:Arial, sans-serif; line-height:150%;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore minima adipisci iusto nobis autem voluptatum ipsa quisquam a suscipit magnam voluptas veritatis ducimus inventore. Officia fugit vero quasi blanditiis doloremque facilis dolores magni. Nemo suscipit nihil assumenda magni voluptates error praesentium soluta illo necessitatibus minus et quidem? Et ipsum eos.</p>
                                    </td>
                                  </tr>
                                </table>
                                  
                                  
                           
                                <!--IMAGE WITH CAPTION ON LEFT-->
                                <table border="0" cellpadding="0" cellspacing="0" width="600" style="background-color:#FFFFFF; border:1px solid #CCCCCC; margin-bottom:20px;">
                                  <tr>
                                    <td valign="top" style="color:#505050; font-family:Georgia, serif; font-size:12px; font-style:italic; line-height:150%; padding-top:10px; padding-right;10px; padding-bottom:10px; padding-left:10px;">
                                      <h2>Here's a Caption</h2>
                                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non doloremque alias blanditiis suscipit explicabo accusantium aperiam voluptates dignissimos ipsa cupiditate accusamus consectetur dolor. Aliquid expedita!
                                    </td>
                                    <td style="padding-top:10px; padding-right:10px; padding-bottom:10px; padding-left:10px;">
                                      <img src="http://placehold.it/250x250" class="captionImage" style="display:block; max-width:580px;" />
                                    </td>
                                  </tr>
                                </table>
                                  
                                  
                                <!--IMAGE WITH CAPTION ON LEFT-->
                                <table border="0" cellpadding="0" cellspacing="0" width="600" style="background-color:#FFFFFF; border:1px solid #CCCCCC; margin-bottom:20px;">
                                  <tr>
                                    <td style="padding-top:10px; padding-bottom:10px; padding-left:10px;">
                                      <img src="http://placehold.it/250x250" class="captionImage" style="display:block; max-width:580px;" />
                                    </td>
                                    <td valign="top" style="color:#505050; font-family:Georgia, serif; font-size:12px; font-style:italic; line-height:150%; padding-top:10px; padding-right;10px; padding-bottom:10px; padding-left:10px;">
                                      <h2>Here's a Caption</h2>
                                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quam aperiam maiores eveniet quas nisi a laboriosam accusantium eius repudiandae. Earum magnam voluptas officiis eum.
                                    </td>
                                  </tr>
                                </table>
                                  
                                  
                           
                                  
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top" style="padding:0">
                        <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailFooter" style="background:#e8e8e8; border-top:10px solid #000000; margin-bottom:50px;">
                            <tr>
                                <td align="center" valign="top">
                                    
                        
                                  
                                  <!--FOOTER TEXT-->
                                  <table border="0" cellpadding="0" cellspacing="0" width="600" style="margin-bottom:20px;">
                                    <tr>
                                        <td align="left" valign="top" style="font-family:Arial, sans-serif; color:#606060; font-size:11px; line-height:150%;">



                                          Copyright © 2014 Your Company, All rights reserved.<br />
                                          Your Company - Doing things your company does.<br /><br />
                                          <strong>Our Mailing Address is:</strong><br />
                                          <em>123 That Street, Townsville, XX 12345</em>
                                          


                                        </td>
                                    </tr>
                                  </table>
                                  
                                  <!--FOOTER SOCIAL LINKS-->
                                  <table border="0" cellpadding="0" cellspacing="0" width="180" style="font-family:Arial, sans-serif; font-size:10px;">
                                    <tr>
                                        <td align="center" width="50" valign="top" style="margin-right:10px;">
                                          <a href="#" style="color:#000000; text-decoration:none;"><img src="http://placehold.it/50x50" alt="" />Social 1</a>
                                        </td>
                                        <td align="center" width="50" valign="top" style="margin-right:10px;">
                                          <a href="#" style="color:#000000; text-decoration:none;"><img src="http://placehold.it/50x50" alt="" />Social 2</a>
                                        </td>
                                        <td align="center" width="50" valign="top" style="margin-right:10px;">
                                          <a href="#" style="color:#000000; text-decoration:none;"><img src="http://placehold.it/50x50" alt="" />Social 3</a>
                                        </td>
                                    </tr>
                                  </table>
                                  
                                  
                                  
                                  
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<%
meta title: "Listing",
     description: "List all plans",
     keywords: %w(plans create_new_plan)
%>
<h1>Listing plans</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Name</th>
      <th>Detail</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
     <%# cache("plans") do %>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= plan.title %></td>
        <td><%= plan.name %></td>
        <td><%= plan.detail %></td>
        <td><%= link_to 'Show', plan %></td>
        <%if can? :update, plan%><td><%= link_to 'Edit', edit_plan_path(plan) %></td><%end%>
        <%if can? :destroy, plan%><td><%= link_to 'Destroy', plan, method: :delete, data: { confirm: 'Are you sure?' } %></td><%end%>
      </tr>
    <% end %>
    <%#end%>
  </tbody>
</table>

<br>

<%= link_to 'New Plan', new_plan_path %>